.tooltip-content {
  transform-origin: var(--radix-tooltip-content-transform-origin);
  animation: scale-in 50ms ease-out;
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
