.input-13 {
  all: unset;
  display: inline-flex;
  align-self: flex-start;
  height: 2.25rem;
  border: 1px solid var(--background-gray-darker);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.375rem;
  font-weight: 500;
  color: var(--font-color-inverted);
  transition: box-shadow 100ms ease-in-out, border-color 100ms ease-in-out;
}

.input-13:focus {
  border: 1px solid var(--background);
  box-shadow: 0 0 0.5px var(--background);
}

.input-13::selection {
  background-color: var(--selection-background);
}
