@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--slate-1);
  color: var(--slate-12);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
