.switch-13 {
  all: unset;
  border-radius: 34px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background-color: var(--background);
  padding: 0.25rem;
  flex-flow: row nowrap;
  transition: background-color 200ms ease-in-out;
}

.slider-13 {
  all: unset;
  border-radius: 50%;
  background-color: rgb(var(--white-300));
  transition: all 200ms ease-out;
  flex-grow: 0;
  position: relative;
}

.switch-13.on {
  background-color: var(--background);
}

.switch-13.off {
  background-color: var(--background-gray-darker);
}

.spacer-13,
.slider-13 {
  flex-grow: 0;
  position: relative;
}

.spacer-13 {
  background-color: #ddd;
  transition: all 200ms ease-out;
}

.switch-13.on .spacer-13 {
  flex-grow: 1;
}

.switch-13.sm {
  width: 2rem;
  height: 1rem;
  padding: 0.2rem;
}

.switch-13.sm .slider-13 {
  width: 1rem;
  height: 1rem;
}

.switch-13.md {
  width: 3rem;
  height: 1.5rem;
}

.switch-13.md .slider-13 {
  width: 1.5rem;
  height: 1.5rem;
}

.switch-13.lg {
  width: 4rem;
  height: 2rem;
}

.switch-13.lg .slider-13 {
  width: 2rem;
  height: 2rem;
}
