@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-background: #fafafa;
  --font-color-inverted: #18181b;
}

.dark {
  --body-background: #18181b;
  --font-color-inverted: #fafafa;
}

body {
  background-color: var(--body-background);
  color: var(--font-color-inverted);
}

html {
  font-family: "Inter", "system-ui" !important;
  font-variant: normal;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui" !important;
  }
}
