.progress-13-indicator.loading {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;
  animation: loading 2s infinite;
}

@keyframes loading {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
