.select-13-scrollbar::-webkit-scrollbar {
  width: 14px;
}


.select-13-scrollbar::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: var(--background-gray-darkest);
}
