@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";

body {
  font-family: "DM Sans", sans-serif;
  color: var(--slate-12);
  background: var(--slate-1);
}
