.progress {
  /* Fix overflow clipping in Safari */
  /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
  transform: translateZ(0);
}

.progress-indicator {
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.progress-indicator.indefinite {
  animation: indefinite 1.25s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes indefinite {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
