.icon-button-13 {
  all: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.icon-button-13.solid {
  background-color: var(--background);
  color: var(--font-color);
}

.icon-button-13.solid:hover {
  background-color: var(--background-darker);
}

.icon-button-13.solid:active {
  background-color: var(--background-darkest);
}

.icon-button-13.secondary {
  background-color: var(--background-gray);
  color: var(--font-color-inverted);
}

.icon-button-13.secondary:hover {
  background-color: var(--background-gray-darker);
}

.icon-button-13.secondary:active {
  background-color: var(--background-gray-darkest);
}

.icon-button-13.ghost {
  background-color: transparent;
  color: var(--font-color-inverted);
}

.icon-button-13.ghost:hover {
  background-color: var(--background-gray);
}

.icon-button-13.ghost:active {
  background-color: var(--background-gray-darker);
}

.icon-button-13.outline {
  background-color: transparent;
  border: 1px solid var(--background-gray);
  color: var(--font-color-inverted);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.icon-button-13.outline:hover {
  background-color: var(--background-gray);
}

.icon-button-13.outline:active {
  background-color: var(--background-gray-darker);
}

.icon-button-13.danger {
  background-color: rgb(var(--red-400));
  color: #fff;
}

.icon-button-13.danger:hover {
  background-color: rgb(var(--red-500));
}

.icon-button-13.danger:active {
  background-color: rgb(var(--red-600));
}

.xs {
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
}

.icon-button-13.sm {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}

.icon-button-13.md {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.375rem;
}

.icon-button-13.lg {
  width: 2.75;
  height: 2.75rem;
  border-radius: 0.375rem;
}
