.collapsible-content[data-state="open"] {
  animation: slide-down 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slide-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}
