@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  color: var(--slate-12);
  background-color: var(--slate-1);
  transition: background-color 100ms ease;
}
