@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  color: var(--slate-12);
  background-color: var(--slate-1);
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: var(--gray-8);
}

.side-tabs::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.side-tabs:active::-webkit-scrollbar-thumb,
.side-tabs:focus::-webkit-scrollbar-thumb,
.side-tabs:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

html.light {
  @include meta.load-css("highlight.js/styles/github.css");
}

html.dark {
  @include meta.load-css("highlight.js/styles/github-dark.css");
}
