.avatar-13 {
  border-radius: 50%;
}

.avatar-13.xs {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.5rem;
}

.avatar-13.sm {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1rem;
}

.avatar-13.md {
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
}

.avatar-13.lg {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 1.75rem;
}

.avatar-13.xl {
  width: 6rem;
  height: 6rem;
  font-size: 2.25rem;
}

.avatar-13-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-13-fallback {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--background-gray-darkest);
  color: var(--font-color-inverted);
  border-radius: 50%;
  font-weight: 600;
}

.avatar-13.xs .avatar-13-fallback {
  font-size: 0.75rem;
}

.avatar-13.sm .avatar-13-fallback {
  font-size: 1rem;
}

.avatar-13.md .avatar-13-fallback {
  font-size: 1.5rem;
}

.avatar-13.lg .avatar-13-fallback {
  font-size: 2rem;
}

.avatar-13.xl .avatar-13-fallback {
  font-size: 3rem;
}

.avatar-13.xs .avatar-13-icon {
  display: inline-flex;
  transform: scale(0.8);
}

.avatar-13.sm .avatar-13-icon {
  display: inline-flex;
  transform: scale(1.4);
}

.avatar-13.md .avatar-13-icon {
  display: inline-flex;
  transform: scale(2);
}

.avatar-13.lg .avatar-13-icon {
  display: inline-flex;
  transform: scale(3);
}

.avatar-13.xl .avatar-13-icon {
  display: inline-flex;
  transform: scale(4);
}
